<!DOCTYPE html>
<html lang="pl">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>Wizytówka</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <h1>Witaj na mojej stronie!</h1>
        <p class="first">
            <img src="{{url_for('static',filename='logo.png')}}"
            alt="stonks"
            title="Stonks"
            width="150"
            height="150">
            <br>
        </p>
        {% block content %}
        {% endblock %}
        
        {% block content2 %}
        {% endblock %}
    </body>
</html>
